# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
*.egg

# Virtual environments
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.swo
*~
