# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
*.egg

# Virtual environments
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Simulation artifacts
*.vvp
*.vcd
*.out
sim/
sim.vvp
sim.vcd

# Yosys temp
*.dot
*.ps
*.pdf

# Temporary files
*.tmp
*.swp
*.swo
*~
